.Container h2 {
	margin: 0 30px;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 1%;
	border-bottom: 0.1rem #c0c0c0 solid;
}
.CartList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

ul {
	padding: 0;
}
.CartList li {
	list-style: none;
}

@media (max-width: 920px) {
	.CartList {
		flex: 1 22%;
	}
}
