.Button {
	background-color: transparent;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 6px;
	font-weight: bold;
}

.Button:disabled {
	color: #ccc;
	cursor: not-allowed;
}

.Success {
	color: #659fb4;
	border: 2px solid #659fb4;
}
.Success:hover {
	border: 2px solid #072845;
	background-color: #072845;
	color: white;
}

.Danger {
	color: #944317;
}
