.CartList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
ul {
	padding: 0;
}
.CartList li {
	list-style: none;
}

@media (max-width: 920px) {
	.CartList {
		flex: 1 22%;
	}
}
