.CartList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
ul {
	padding: 0;
}
.CartList li {
	list-style: none;
}

.Character p {
	letter-spacing: 1px;
}

.Character {
	border-radius: 3%;
	display: flex;
	flex-wrap: wrap;
	flex: 1 18%;
	width: 150px;
	height: 340px;
	margin: 30px;
	align-items: center;
	justify-items: center;
	padding-bottom: 15px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 10.3px 5.9px rgba(0, 0, 0, 0.072), 0 21.8px 20.4px rgba(0, 0, 0, 0.086),
		0 40px 40px rgba(0, 0, 0, 0.12);
}
.Character img {
	border-bottom: 10px solid #072845;
	border-radius: 3% 3% 0 0;
}
.BackgroundText {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.BackgroundText p {
	color: #072845;
	font-weight: 500;
	height: 36px;
	padding: 5px;
}

.Character:hover {
	transform: scale(1.1);
}

.Character a {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

@media (max-width: 920px) {
	.CartList {
		flex: 1 22%;
	}
	.CartList .Character:first-child,
	.CartList .Character:nth-child(2) {
		flex: 2 45%;
	}
}

@media (max-width: 600px) {
	.Character {
		flex: 1 45%;
		margin: 10px 10px 35px 10px;
	}
}
