.Background {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.Container {
	border-radius: 0.5rem;
	width: 70%;
	padding: 15px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 12.8px 12.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 10.3px 15.9px rgba(0, 0, 0, 0.072), 0 1.8px 20.4px rgba(0, 0, 0, 0.086),
		0 40px 40px rgba(0, 0, 0, 0.12);
}

.Container img {
	border-radius: 0.5rem;
}

.Container li::marker {
	margin-left: 2px;
}
.Container ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.Container div:first-of-type {
	width: 90%;
	padding: 15px;
	display: grid;
	place-items: left;
	padding-left: 25px;
}
.Container p {
	text-align: justify;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-size: 15px;
}
.Container h2 {
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-left: 25px;
	align-self: end;
	padding-bottom: 6px;
	border-bottom: 0.1rem #c0c0c0 solid;
}

.Container h3 {
	letter-spacing: 1px;
}
.Container .Image {
	grid-area: 1 / 1 / 3 / 2;
}

.Container .Title {
	display: inline-block;
}

.Container .Description {
	grid-area: 2 /2 /3 /3;
	width: 100%;
	display: flex;
	flex-flow: row;
}

.Container .Image {
	place-self: center;
}
.Comics {
	width: 90%;
	height: 100%;
	padding: 10px 30px;
	text-align: left;
}

.Comics h3 {
	margin: 0;
	padding-top: 1em;
	border-top: 0.1rem #c0c0c0 solid;
}

.Comics ul {
	padding: 5px;
	margin: 6px;
}
.Comics ul li:before {
	content: "\00BB \0020";
}
.Comics li {
	letter-spacing: 1px;
	margin: 2px;
	padding: 4px 2px;
	list-style: none;
}

@media (max-width: 560px) {
	.Container {
		width: 90%;
		margin: 0;
	}
	.Container ul {
		columns: 1;
	}
}

@media (max-width: 450px) {
	.Container div:first-of-type {
		display: flex;
		flex-flow: column;
	}
	.Container h2 {
		text-align: center;
	}
}
